absl-py==2.0.0
accelerate==0.25.0
aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.1.0
array-record==0.5.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.13.1
backcall==0.2.0
backports.functools-lru-cache==1.6.5
beautifulsoup4==4.12.2
bitsandbytes==0.41.0
bleach==6.1.0
Brotli==1.0.9
cachetools==5.3.2
certifi==2023.11.17
cffi==1.15.1
charset-normalizer==3.3.2
chex==0.1.85
click==8.1.7
cloudpickle==3.0.0
clu==0.0.9
colorama==0.4.6
comm==0.1.4
contextlib2==21.6.0
contourpy==1.1.1
cryptography==41.0.3
cycler==0.12.1
dataclasses-json==0.6.2
datasets==2.14.6
decorator==5.1.1
deepspeed==0.9.5
defusedxml==0.7.1
dill==0.3.7
dm-tree==0.1.8
dnspython==2.4.2
docker-pycreds==0.4.0
einops==0.6.1
einops-exts==0.0.4
entrypoints==0.4
etils==1.5.2
evaluate==0.4.1
exceptiongroup==1.1.3
executing==2.0.1
fastapi==0.104.1
fastjsonschema==2.18.1
ffmpy==0.3.1
filelock==3.9.0
flash-attn==2.3.6
flatbuffers==23.5.26
flax==0.7.5
fonttools==4.43.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.5.4
gin-config==0.5.0
gitdb==4.0.11
GitPython==3.1.40
gmpy2==2.1.2
google-auth==2.25.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
gradio==3.35.2
gradio_client==0.2.9
greenlet==3.0.1
grpcio==1.60.0
gym==0.23.0
gym-notices==0.0.8
h11==0.14.0
h5py==3.10.0
hjson==3.1.0
httpcore==0.17.3
httpx==0.24.0
httpx-sse==0.3.1
huggingface-hub==0.19.4
idna==3.6
importlib-metadata==7.0.0
importlib-resources==6.1.0
ipykernel==5.5.5
ipython==8.16.1
ipython-genutils==0.2.0
ipywidgets==7.7.2
isoduration==20.11.0
jax==0.4.21
jaxlib==0.4.21
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter_client==8.5.0
jupyter_core==4.12.0
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
jupyterlab-widgets==1.1.7
keras==2.14.0
kiwisolver==1.4.5
langchain==0.0.335
langchain-cli==0.0.16
langchainhub==0.1.14
langserve==0.0.26
langsmith==0.0.63
language-table==0.1
libclang==16.0.6
linkify-it-py==2.0.2
llava==1.1.3
loguru==0.7.2
Markdown==3.5.1
markdown-it-py==2.2.0
markdown2==2.4.11
marko==2.0.2
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapy==1.1.9
mistune==3.0.1
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
ml-collections==0.1.1
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
namex==0.0.7
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
ninja==1.11.1.1
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numpy==1.26.2
oauthlib==3.2.2
openai==0.28.1
opencv-python==4.8.1.78
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.4.5
orjson==3.9.10
overrides==7.4.0
packaging==23.2
pandas==2.1.2
pandocfilters==1.5.0
parso==0.8.3
peft==0.4.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pinecone-client==2.2.4
pip==23.3
pkgutil_resolve_name==1.3.10
plotly==5.18.0
portpicker==1.6.0
prometheus-client==0.18.0
promise==2.3
prompt-toolkit==3.0.39
protobuf==4.25.1
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==14.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybullet==3.2.6
pycparser==2.21
pydantic==1.10.13
pydantic_core==2.10.1
pydub==0.25.1
pygame==2.1.3
Pygments==2.16.1
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-multipart==0.0.6
pytorch-metric-learning==2.3.0
pytz==2023.3.post1
PyYAML==6.0
pyzmq==25.1.0
rag-conversation==0.1.0
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rlds==0.1.8
rpds-py==0.10.6
rsa==4.9
safetensors==0.4.0
scikit-learn==1.2.2
scipy==1.11.3
seaborn==0.13.0
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.38.0
setproctitle==1.3.3
setuptools==69.0.2
shellingham==1.5.4
shortuuid==1.0.11
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
sse-starlette==1.6.5
stack-data==0.6.2
starlette==0.27.0
svgwrite==1.4.3
sympy==1.11.1
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.22.0
tensorstore==0.1.51
termcolor==2.4.0
terminado==0.17.1
tf-agents==0.18.0
tf-keras==2.15.0
threadpoolctl==3.2.0
tiktoken==0.5.1
timm==0.6.13
tinycss2==1.2.1
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.2
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.3.3
tqdm==4.65.0
traitlets==5.13.0
transformers==4.36.0
triton==2.0.0
typer==0.9.0
types-python-dateutil==2.8.19.14
types-requests==2.31.0.10
typing_extensions==4.8.0
typing-inspect==0.9.0
typing-utils==0.1.0
tzdata==2023.3
uc-micro-py==1.0.2
uri-template==1.3.0
urllib3==2.1.0
uvicorn==0.23.2
wandb==0.16.0
wavedrom==2.0.3.post3
wcwidth==0.2.9
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
wheel==0.42.0
widgetsnbextension==3.6.6
wrapt==1.14.1
xxhash==3.4.1
yarl==1.9.2
zipp==3.17.0
